DATABASE_URL=DB URL

PORT=PORT

BETTER_AUTH_SECRET=BETTER_AUTH_SECRET

BETTER_AUTH_URL=Base URL of your app

GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET


CLOUDINARY_CLOUD_NAME=CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=CLOUDINARY_API_SECRET

DEEPGRAM_API_KEY=DEEPGRAM_API_KEY

GROQ_API_KEY=GROQ_API_KEY


GEMINI_API_KEY=GEMINI_API_KEY